<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Dashboard</title>
</head>

<body>

    <div class="header">
        <h1 class="word"> {{ session.course_name }} </h1>
        <p class="word"> {{ session.course_description }}</p>
        <a href="{{ url_for("student_dashboard") }}"> Back to Dashboard </a>
    </div>
    
    <div class="body">
        <ul>
            {% for question in questions %}
            <li>
                <form method='POST' action="{{ url_for('course', course_id = session.course_id) }}" id="{{ question.id }}"> 
                    {{ question.csrf_token }}
                    <p>{{ question.prompt }}</p>
                    <input type="hidden" name="question_id" value="{{ question.id }}">
                    <p>{{ question.form.input() }} <input type="submit" value="Submit" id="{{ question.id }}"> </p>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="border">
        <p class="word"> {{ msg }} </p>
        <a class="btn" href="{{ url_for('logout') }}">Logout</a>
    </div>

</body>

</html>