<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Student Dashboard</title>
</head>

<body>

    <div class="header">
        <h1 class="word"> {{ session.username }}'s Dashboard </h1>
    </div>
    
    <div class="body">
        <h3>Total Revenue</h3>
        <p> {{dashboard_content["total_revenue"]}} <p> 
        <h3>Mentor Assignment</h3>
        <p> {{dashboard_content["mentor"]}} <p> 
        <h3>Courses</h3>
        <p> {{dashboard_content["courses"]}} <p> 
        <h3>Progress</h3>
        <p> {{dashboard_content["progress"]}} <p> 
    </div>

</body>

</html>